<title>Supermarket: Mi carrito</title>

<h1 class="thirteen">Supermarket</h1>

<div class="container">
  <h1>Mi carrito</h1>

  <h2>Mis productos</h2>

  <form method="get" action="/products">
    <button class="goToProds" type="submit">Volver a home</button>
  </form>
  <br>
  <form method="post" action="/api/carts/{{user.cart}}/purchase" id="purchaseCart">
    <button class="purchaseButton" type="submit">Comprar carrito</button>
  </form>

</div>


{{#each products}}
<div class="container">
  <div class="producto">
    <img src=".{{this.product.thumbnails}}" alt="Producto {{this.product.title}}"
      onerror="this.onerror=null; this.src='../images/no-image.jpg'">
    <div class="info">
      <ul class="product-list">
        <li>ID: {{this.product.id}}</li>
        <li>Titulo: {{this.product.title}}</li>
        <li>Descripcion: {{this.product.description}}</li>
        <li>Codigo: {{this.product.code}}</li>
        <li>Stock: {{this.product.stock}}</li>
        <li>Categoria: {{this.product.category}}</li>
        <li>Precio: ${{this.product.price}}</li>
        {{!-- <li>{{this.product.thumbnails}}</li> --}}
      </ul>
    </div>
    <div>
      <label>Cantidad: {{this.quantity}}</label>
      <br>
      <form method="post" action="/api/carts/{{../user.cart}}/product/{{this.product.id}}" id="addToCart">
        <button class="cartButton" type="submit">Agregar uno más</button>
      </form>
      <br>
      <button class="cartButtonDel" data-cart-id="{{../user.cart}}"
        data-product-id="{{this.product.id}}">Eliminar</button>
    </div>
  </div>
</div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>