<title>Supermarket: Admin</title>

<h1 class="thirteen">Supermarket</h1>

<div class="container">
  <h1>Solo Administrador</h1>
  <form action="/api/session/logout" method="get">
    <button type="submit">Logout</button>
  </form>
  <br />
  <form method="get" action="http://localhost:8080/realTimeProducts">
    <button class="goToRealProds" type="submit">Productos en tiempo real</button>
  </form>
  <br />

  <h2>Elimine un usuario</h2>
  <form id="delete-user" method="delete" class="container">
    <label>Mail usuario: </label>
    <input id="user-email" type="text" />
    <button id="send-delete">Eliminar</button>
  </form>

</div>



{{#each users}}
<div class="container">
  <div class="producto">
    <div class="info">
      <ul>
        <li>Nombre: {{this.first_name}}</li>
        <li>Apellido: {{this.last_name}}</li>
        <li id="userEmail">Email: {{this.email}}</li>
        <li>Rol: {{this.role}}</li>
      </ul>
    </div>
    <div>
      <label for="role-{{@index}}">Rol:</label>
      <select name="role" id="role-{{@index}}" data-email="{{this.email}}" class="roleSelect">
        <option value="USER">USER</option>
        <option value="PREMIUM">PREMIUM</option>
      </select>
      <form method="post" action="http://localhost:8080/api/session/{{this.email}}" id="changeRole-{{@index}}"
        class="changeRoleForm">
        <input type="hidden" name="role" value="{{this.role}}">
        <button class="roleButton" type="submit">Cambiar rol</button>
      </form>
    </div>
  </div>
</div>
</div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/admin.js"></script>